html {
    font-family: "KoHo", sans-serif;
    letter-spacing: 0.02em;
}

a {
    color: #24a7ff;
    text-decoration: underline;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
    line-height: 135%;
    margin: 0;
    min-height: 100%;
}

/* Navigation bar */
.navigation-bar {
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  font-family: 'Cabin Sketch';
}

h1 {
  line-height: 120%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
}

.container:before, .container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.container:after {
    clear: both;
}

.site-name {
    display: block;
    font-size: 1.5em;
    line-height: 100%;
    position: relative;
    float: left;
    text-decoration: none;
    color: #333333;
}

.navigation-menu {
    position: relative;
    float: right;
}

.navigation-link {
    margin-left: 1.5em;
    padding: 1em 0px;
    color: #aaa;
    font-size: 0.9em;
    max-width: 940px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .1em;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: left;
    margin-right: auto;
}

.navigation-link:hover {
  color: #999;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Content */

.content-wrapper {
    padding: 1em 0;
}

.content-col {
    float: left;
}

.post-wrapper {
}

.blog-page-image {
    height: 300px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.article-container {
  width: 400px;
  height: 400px;
  float: left;
  position: relative;
  overflow: hidden;
}

.article-image {
  width: 400px;
  height: 400px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: height 0.2s ease-out;
  filter: brightness(0.65);
}

.article-image:hover {
  height: 410px;
}

.article-image-text-container.blur {
  box-shadow: inset 0 0 0 600px rgb(255 255 255 / 30%);
}

.article-image-text-container.border {
  border: 1px solid rgb(255, 255, 255, 70%);
}

.article-image-text-container {
  text-decoration: none;
  color: white;
  font-size: 28px;
  height: 100px;
  line-height: 100px;
  top: calc(50% - 50px);
  width: 70%;
  left: 15%;
  text-align: center;
  position: absolute;
  pointer-events: none;
}

.article-image-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.post-content {
    padding: 1em 0;
}

.details-wrapper {
}

.post-info {
    display: inline-block;
    color: #aaa;
    font-size: 60%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.grey-rule {
    width: 4em;
    height: 1px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    background-color: #c7c7c7;
}

.text:before, .text:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.text:after {
    clear: both;
}

p {
    line-height: 200%;
}

.back-button {
    border-radius: 3px;
    background-color: #888;
    display: inline-block;
    padding: 0.5em 0.7em;
    color: white;
    border: 0;
    font-size: 0.9em;
    line-height: 1.25em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.post-content img {
  max-width: 100%;
  display: block;
  margin: 1.5em auto;
  max-height: 600px;
}

.social-icons {
  text-align: center;
}

.social-icon img {
  width: 1.7em;
  margin-right: 0.7em;
}

.footer {
  background-color: #f5f5f5;
  padding-top: 1.7em;
  box-shadow: 0px -1px 0 0 rgb(0, 0, 0, 0.06);
}

.copyright {
  font-size: 0.7em;
  color: #aaa;
  padding: 1em 0px;
  text-align: center;
}
